body {
    background-image: linear-gradient(to bottom, #fff, #c3cfe2);
    background-repeat: repeat-x;
    background-color: #c3cfe2;

}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(58, 72, 87);
    font-size: 2.75rem;
    text-align: center;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(36, 50, 65);
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(31, 36, 41);
    font-size: 1.25rem;
    text-align: center;
}

.image-block{
    display: flex;
    width: 100%;
}

.col {
    display: table-cell;
    padding: .175rem;
}

.responsive-image{
    width: 100%;
    height: auto;
}