body {
    background-image: linear-gradient(to bottom, #fff, #c3cfe2);
    background-repeat: repeat-x;
    background-color: #c3cfe2;

}

.container{
    margin: auto;
    width: 60%;
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(39, 50, 61);
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
    font-weight: 800;
    
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(54, 70, 87);
    font-size: 2.25rem;
    font-weight: 600;
    padding-top: 3rem;
    text-align: center;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(54, 70, 87);
    font-size: 1.50rem;
    font-weight: 600;
    padding-top: 3rem;
}

.h3-table{
    padding-left: 20px;
}


.tagline{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(90, 101, 112);
    font-size: 1.35rem;
    font-weight: 100;
    text-align: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(31, 36, 41);
    font-size: 1rem;
}

.footer{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
}


.image-block{
    display: flex;
    width: 100%;
}

.col {
    display: table-cell;
    padding: .175rem;
}

.responsive-image{
    width: 100%;
    height: auto;
}



.nav-logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    text-decoration: none;
}

.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-li{
    float: left;
}

.nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    display: block;
    background-color: rgb(16, 98, 185);
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
}

.nav-active{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: block;
    background-color: rgb(57, 85, 114);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.image-table{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }



  div.gallery {
    border: 1px solid rgb(47, 59, 75);
    background-color: rgb(218, 225, 233);
  }
  
  div.gallery:hover {
    border: 1px solid rgb(95, 113, 136);
    background-color: rgb(242, 244, 247);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px 12px 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


